.header
{
    font-family: Arial;
    text-align: left;
    background: -webkit-linear-gradient(left, #ff9100, #8811c5);
    color: #fff;
    overflow: hidden;
    padding: 5%;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
.content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width:100%;
    height: 100%;
    cursor: pointer;
    background: #ff9100;
    color: #fff;
    transition: 
    background 0.5s;
}

.btnSubmit:hover{
    background:#8811c5;
}

#loadingRestaurants{
    display:block;
}

.website
 {
    padding: 5%;
 }
.spacer
{
    height:10px;
}

#nav{
 
    overflow: hidden;
}

.nav-btn{
    text-decoration: none;
    float:left;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: center;
    background: #ff9100;
    color:white;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);

    transition: 
        background 0.5s,
        text-decoration 0.5s;
}


.nav-btn:hover{
    text-decoration: underline;
    color:white;
    background: #8811c5;
}

#nav-pref{
    display:none;
    background: #ff9100;
    color:white;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
    padding-bottom: 3px;
    margin:auto;
    text-align: center;
    border: 1px solid #ced4da;
    border-bottom: 2px solid #ced4da;
    overflow: hidden;
}

.restaurant-id{
    color:gray;
}

.foodtypes-container{
    padding: 5px;
    display: block;
}

.foodtypes-container:after{
    clear: both;
    content: "";
    display: block;
}

.foodtype{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
}

.rating-container div{
    font-weight: lighter;
    text-decoration: none;
    float:left;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:white;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);

    transition: 
        background 0.5s,
        text-decoration 0.5s;
}

.rating-container div:hover{
    text-decoration: underline;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;

    transition: 
        background 0.5s,
        text-decoration 0.5s;
}

.rating-container{
    height:30px;
    margin-bottom:5%;
    padding-bottom:5%;
    border-bottom: 1px solid #ced4da;
}

.form-addRating{
    float: none;
}


#rateRest-container{
    z-index:10;
	
	position:fixed;
    top: 50%;
    left: 50%;
	
	width:400px;
	padding:20px;
	
    margin-top: -200px; /*set to a negative number 1/2 of your height*/
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
	 
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}

#rateRestClose{
    position: absolute;
    top:10px;
    right: 10px;
    border: 1px solid gray;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

#rateRestClose:hover{
    cursor: pointer;
}

.recommended{
    border-top:2px solid #ff9100;
    border-right:2px solid #ff9100;
}